[access]
	inheritFrom = All-Projects
[project]
	description = ??app???????
[access "refs/*"]
	owner = group user/Jeremy (suntiago)
[access "refs/for/refs/*"]
	read = group user/Jeremy (suntiago)
	push = group user/Jeremy (suntiago)
	label-Code-Review = -2..+2 group user/Jeremy (suntiago)
	label-Verified = -1..+1 group user/Jeremy (suntiago)
	rebase = group user/Jeremy (suntiago)
	removeReviewer = group user/Jeremy (suntiago)
	submit = group user/Jeremy (suntiago)
[access "refs/heads/*"]
	read = group user/Jeremy (suntiago)
	create = group user/Jeremy (suntiago)
	push = +force group user/Jeremy (suntiago)
	pushMerge = group user/Jeremy (suntiago)
[access "refs/tags/*"]
	push = group user/Jeremy (suntiago)
	push = +force group user/Jeremy (suntiago)
